@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["FirstName"]</h2>
<h3>@ViewData["LastName"]</h3>
<h4>@ViewData["EmailAddress"]</h4> <!-- //tinfo200:[2021-03-10-rmatta2-dykstra1] - Add these sections for code.-->

<p>Use this page to detail your site's privacy policy.</p>
